extends layout

block content
  .container
    .content
      if error
        .alert.alert-danger
        h1 Error!
      else
        br
        center
          h1 Plants!
          br
          .flex-container(style='display: flex')
            .flex-child.one(style='flex: 1')
              div.theform
                br
                p create or update plant:
              
                form(action='/update', method='POST', style='width:300px')
                  div.form-group

                  //- label(for='nickname') Nickname:
                  input#nickname.form-control(type='text', length='100', placeholder='nickname', name='nickname', required, style='background-color: transparent;')
                  br
                  //- label(for='common name') Common Name:
                  input#commonname.form-control(type='text', placeholder='common name' name='commonname', style='background-color: transparent;')
                  br
                  //- label(for='scientific name') Scientific Name:
                  input#scientificname.form-control(type='text', placeholder='scientific name', name='scientificname', style='background-color: transparent;')
                  br
                  label(for='datelastwatered') date watered:
                  input#datelastwatered.form-control(type='date', placeholder='date watered', name='datelastwatered', style='background-color: transparent;')
                  br
                  label(for='datetowater') date to water:
                  input#datetowater.form-control(type='date', placeholder='date to water', name='datetowater', style='background-color: transparent;')
                  br
                  button.btn.btn-primary(type='Submit', style='background-color: #1e1e1e; border: none') submit
                  br
                  br
                  br
            .flex-child.two(style='flex:2')
              div.thetable
                table.table
                  if plants
                    thead
                      tr
                        th ID
                        th Nickname
                        th Common Name
                        th Scientific Name
                        th Date Watered
                        th Date To Water
                      tbody
                        for plant in plants
                          tr
                            td= plant.id
                            td= plant.nickname 
                            td= plant.commonname 
                            td= plant.scientificname 
                            td= plant.datelastwatered
                            td= plant.datetowater 
                      td
                      td 
                      tr
                  else
                    tr 
                    td 
                      | No plants found
                form(action="/delete", method="POST")
                  label(for='id') delete entry by plant ID:
                  div.form-group
                    div(class='d-flex justify-content-center')
                      //- div(class='p-2')
                      //-   label(for='id') Delete by Plant ID:
                      div(class='p-2')
                        input#id.form-control(type='number', placeholder='ID', name='id', style='width: 100px')
                      div(class='p-2')
                        button.btn.btn-primary(type='Submit', style='background-color: #1e1e1e; border: none') delete                  
                br
                br
              
                form(action="/reset", method="POST")
                  div.form-group
                    button.btn.btn-primary(type='Submit', style='background-color: #1e1e1e; border: none; width: 180px') clear all entries
              
            