extends layout

block content
  .container
    .content
      if error
        .alert.alert-danger
      else
        br
        center
          h1 Plants!
          br
          .flex-container(style='display:flex')
            .flex-child.one(style='flex:1')     
              div.theform(style='width:50%')
                br
                p Create or Update Plant:
              
                form(action="/update", method="POST", style='width:300px')
                  div.form-group

                  //- label(for='nickname') Nickname:
                  input#id.form-control(type='text', length='100', placeholder='Nickname' name='nickname')
                  br
                  //- label(for='common name') Common Name:
                  input#commonname.form-control(type='text', placeholder='Common Name' name='commonname')
                  br
                  //- label(for='scientific name') Scientific Name:
                  input#scientificname.form-control(type='text', placeholder='Scientific Name' name='scientificname')
                  br
                  //- label(for='datelastwatered') Date Watered:
                  input#id.form-control(type='date', placeholder='Date Watered' name='datelastwatered')
                  br
                  //- label(for='datetowater') Date To Water:
                  input#id.form-control(type='date', placeholder='Date To Water' name='datetowater')
                  br
                  label(for='id') Update by Plant ID:
                  input#id.form-control(type='text', placeholder='ID' name='id')
                  br
                  button.btn.btn-primary(type='Submit') Submit
            .flex-child.two
              div.thetable
                table.table.table-striped.table-bordered.table-hover
                  if plants
                    thead
                      tr
                        th id
                        th Nickname
                        th Common Name
                        th Scientific Name
                        th Date Watered
                        th Date To Water
                      tbody
                        for plant in plants
                          tr
                            td= plant.id
                            td= plant.nickname 
                            td= plant.commonname 
                            td= plant.scientificname 
                            td= plant.datelastwatered
                            td= plant.datetowater 
                      td
                      td 
                      tr
                  else
                    tr 
                    td 
                      | No plants found
            